.navbar {
    background-color: #333;
    color: #fff;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .search {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .login-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .menu-toggle {
    display: none;
  }

  
  /* Media query for responsive design */
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #333;
      text-align: center;
    }
  
    .nav-links.active {
      display: block;
    }
  
    .menu-toggle {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }
  